form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

form h1 {
  text-align: center;
  margin-bottom: 20px;
}

form label {
  font-size: 1.5em;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;  
}
form input {
  font-size: 1em;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;  
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form input[type="submit"],
form input[type="reset"],
form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover,
form button:hover {
  background-color: #45a049;
}

form .form-group {
  margin-bottom: 15px;
}

form .form-group:last-child {
  margin-bottom: 0;
}