html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}


.footer {
  border: 3px solid #000000;
  height: 80px;
  background-color: #b2f2bb;
  color: rgb(0, 0, 0);
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  margin-top: 80px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 800px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

body::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
