<body>
   <form action="/estoque/addMaterial">
    <label for="nomeMaterial">Nome do material:</label>
    <input type="text" name="nomeMaterial">

    <label for="qtdMin">Quantidade Minima:</label>
    <input type="number" name="qtdMin">

    <label for="qtdMax">Quantidade Máxima:</label>
    <input type="number" name="qtdMax">
   </form>

<body>
  