<head>
  <link rel="stylesheet" href="/css/components/estoque.css">
  <script src="/js/estoque.js" defer></script>
  <title>Estoque</title>
</head>

<body>
   <form>
    <h1>Adicionar Material</h1>

    <label for="nomeMaterial">Nome do material:</label>
    <input class="nomeMaterial" type="text" name="nomeMaterial" required>

    <label for="qtdAtual">Quantidade Atual:</label>
    <input class="qtdAtual" type="number" name="qtdAtual" required>

    <label for="qtdMinima">Quantidade Mínima:</label>
    <input class="qtdMinima" type="number" name="qtdMinima" required>

    <label for="qtdMaxima">Quantidade Máxima:</label>
    <input class="qtdMaxima" type="number" name="qtdMaxima" required>

    <!-- Campo de upload -->
    <div class="upload-area" id="uploadArea">
        <img src="/imgs/upload-icon.png" alt="Upload" class="upload-icon">
        <p>Clique ou arraste uma imagem</p>
        <input type="file" id="inputImagem" accept="image/*" hidden>
    </div>

    <button class="btnAdd" type="button">Adicionar Material</button>
   </form>

   <ul class="produto-estoque"></ul>
</body>
