<head>
  <link rel="stylesheet" href="/css/login-register.css">
</head>
 
  <form action="/register/insertuser" method="post">
        
    <h1 class="login">Register</h1>
        
     <div>
    <label for="email" class="form-label">Usuário:</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp">

    <div id="emailHelp" class="form-text">
      Nunca compartilharemos seu e-mail com mais ninguém.</div>
  </div>
  <div>
    <label for="senha" class="form-label">Senha:</label>
    <input type="password" class="form-control" name="senha">
  </div>
         
    <input class="button" type="submit" value="Cadastrar"> 
    <br>
    <a href="/login">Fazer login</a>
  </form>
