.login {
  padding-top: 25px;
  font-size: 5em;
  text-align: center;
  margin-left: auto;
  padding-bottom: 25px;
} 

form {
  margin-top: 5em;
  background-color: #b2f2bb;
  text-align: center;
  margin: 0 auto;
  width: 400px;
  height: 450px;
  padding: 1em;
  border: 3px solid #ccc;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
  
}

form label {
  font-size: 1.5em;
  display: inline;
  width: 80px;
  text-align: right;
}

form input {
  text-align: center;
  display: block;
  font-size: 20px;
  size: 3em;
  border-radius: 1em;
  background-color: #ffec99;
  height: 40px;
  width: 400px;
  margin-top: 5px;
}

form button {
  background-color: #40c057;
  border-radius: 1em;
  margin-top: 40px;
  padding: .5em;
  color: white;
  font-size: 2em;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
}

.button {
  background-color: #40c057;
  border-radius: 1em;
  margin-top: 10px;
  padding: .5em;
  color: white;
  font-size: 1em;
  cursor: pointer;
  border: none;
  margin-bottom: 15px;
  width: 350px;
}

a {
  font-size: 1em;
}