<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="/css/components/navbar.css">
</head>
<body>
    <nav class="navbar">
        <a href="/" class="logo"><img src="/imgs/STOKS.png" alt=""></a>
        <h1 id="username">{{username}}</h1>
        <div class="menu-toggle" onclick="toggleMenu()">☰</div>
        <div class="menu" id="menu">
            <a href="#">Home</a>
            <a href="#">Sobre</a>
            <a href="#">Contato</a>
        </div>
    </nav>
    <script>
        function toggleMenu() {
            var menu = document.getElementById("menu");
            if (menu.style.display === "flex") {
                menu.style.display = "none";
            } else {
                menu.style.display = "flex";
            }
        }
    </script>
</body>
</html>

</nav>