<head>
  <link rel="stylesheet" href="/css/components/navbar.css">
</head>

<nav>
  <a href="#" class="navbar-left">
      <img src="imgs/STOKS.png" alt="STOKS logo" class="img-responsive">
  </a>
      <h1>STOKS</h1>
</nav>