<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
  <title>STOKS</title>
</head>

<header>
 {{> navbar}}
</header>

<body>
  {{{body}}}
</body>

  <footer>
    <p>&copy; 2025 Minha Lista de Tarefas</p>
  </footer>
</html>